<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/app.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/flash') %>
    <%- body %>

    <script src="/js/password.js"></script>
</body>
</html>